body {
	font: 12px "Candara", "Calibri", Arial;
	background: grey url(../imagens/background.png);
	background-size: 100%;

}

footer {
	padding: 60px 0;
	text-align: center;
	font-size: 2.5em;
	color: #00008B;
	font-weight: bold;
}

h1 {
	font-size: 6em;
	margin-top: 90px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-align: center;
}

h3 {
	font-size: 2em;
	letter-spacing: 1px;
	padding: 20px 30px 0 30px;
}

ul {
	padding: 0px 30px 20px 30px;
	margin-top: -10px;
	font-size: 1.7em;
	list-style-type: square;
	list-style-position: inside;
	text-align: center;
}

#container {
	padding: 10px;
	background: white;
}

.img {
	height: 60px;
	margin-top: 20px;
}

.img2 {
	height: 60px;
	margin-top: 20px;
}

.img3 {
	height: 40px;
	margin-top: 40px;
}


.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-container-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 500px;
	margin: 0 auto;
}

.item-flex-icon {
	padding: 20px;
	font-size: 7em;
}

.item-flex-img {
	padding: 30px;
}

.item-flex-img img {
	width: 80px;
}

.icon-color1 {
	color: #404040;
}

.icon-color2 {
	color: #00008B;
}

.part1 {
	background-color: #D8D8D8;
	margin: -10px -10px 0 -10px;
	font-size: 1.2em;
}

.part2 {
	margin: -10px -10px 0 -10px;
	font-size: 1.2em;
}

.blocoSlider1 {
	margin: -10px -10px 150px -10px;
	font-size: 1.2em;
}

.blocoSlider2 {
	margin: -10px -10px 280px -10px;
	font-size: 1.2em;
}

.tp {
	margin-left: 10px;
	opacity: 0.4;
}

.grow:hover, .grow:active {
	-webkit-transform: scale(1.3);
  	-moz-transform: scale(1.3);
  	-o-transform: scale(1.3);
  	-ms-transform: scale(1.3);
  	transform: scale(1.3);
}

.titProj {
	font-size: 25px;
	color: #000;
	font-weight: bolder;
	margin-left: 26%;
}

@media (min-width: 992px) {
	
	h1 {
		text-align: left;
	}

	#container {
		width: 75%;
		padding: 40px;
		margin: 0 auto;
	}

	.flex-container {
		justify-content: flex-start;
	}

	.part1 {
	margin: -10px -40px 0 -40px;
	padding: 0 40px;
	}

}

@media(min-width: 1450px) {

	.block-ul {
		 height: 50px;
	}

	.block-list {
		margin-top: 32px;
		float: left;
	}
	.block-img {
		margin: 0;
		margin-top: -20px;
		float: right;
	}
	.flex-container-img {
		width: 1100px;
		flex-wrap: nowrap;
	}
	.item-flex-img {
	padding: 18px;
	}

}

.slider {
	display: block;
	height: 293px;
	width: 600px;
	margin: auto;
	margin-top: 20px;
	position: relative;
}

.slider li {
	list-style: none;
	position: absolute;
}

.slider img {
	margin: auto;
	height: 100%;
	width: 100%;
	vertical-align: top;
	border: 2px solid #000;
}

.slider input {
	display: none;
	margin-left: auto;
}

.slider label {
	border-radius: 15px;
	margin-left: 42%;
	background-color: #000;
	bottom: 10px;
	cursor: pointer;
	display: block;
	height: 20px;
	position: absolute;
	width: 20px;
	z-index: 10;
}

.blocoSlider2 label {
	background-color: #FFF;
	opacity: 0.9;
	border: 3px solid #000;
}

.slider li:nth-child(1) label {
	left: 10px;
}

.slider li:nth-child(2) label {
	left: 40px;
}

.slider li:nth-child(3) label {
	left: 70px;
}

.slider img {
	opacity: 0;
	visibility: hidden;
}

.slider li input:checked ~ img {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}