body {
	background-color: #fafafa;
}

header .row .col-lg-1 {
	height: 7.7em;
}
.container {
	margin-top: 5%;
}

.btn-lg {

	padding: 0;
	margin-bottom: 0.2em;
	width: 3em;
	height: 3em;
}

section .container {
	margin-top: 5%;
}

.card {
	border-style: none;
	border-radius: 0;
	padding: 0;
}

.card-body {
	padding: 10px 0 10px 0;
	background-color: #fafafa;
}

.card-title {
	text-align: left;
}
.card-subtitle {
	font-size: 0.8em;
}

div.div-carousel {
	border: 1px solid black;
	padding-bottom: 2%;
}

.carousel-indicators li, .carousel-control-next, .carousel-control-prev {
	-webkit-filter: invert(1);
   	filter: invert(1);
}

.carousel-caption {
	position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    background-color: #fafafa;
    text-align: justify;
}

.logo {
	width: 50%;
	height: auto;
	padding-bottom: 7%;
}

.logo-con {
	width: 20%;
	height: auto;
	padding: 0.2em;
}

footer .row {
	margin-top: 15%;
	height: 10%;
	width: 90%;
	margin: auto;
}

footer .row .display-4 {
	margin-top: 5%;
	padding: 5%;
	text-align: center;
	font-size: 1em;
}

/* Extra small devices (phones, up to 480px) */
@media screen {
	.display-3 {
		font-size: 4em;
		text-align: left;
		margin-bottom: 5%;
		line-height: 1em;
	}

	.display-4 {
		font-size: 2.2em;
		margin-bottom: 5%;
	}

	.linha-horizontal {
		border-bottom: 1px solid #343a40;
		margin-bottom: 8%;
	}

	h4.display-4 {
		font-size: 1.5em;
	}

	.formacao {
		border-style: none;
		border-width: 0;
	}

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.container {
	margin-top: 3%;
	}

	.display-3 {
		font-size: 5.5em;
		line-height: 1.2em;
		text-align: center;
	}

	h4.display-4 {
		font-size: 1.9em;
	}

	.logo {
		width: 30%;
		height: auto;
	}

	.logo-con {
		width: 20%;
		padding: 1.5em;
	}

}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) {

	.display-3 {
	text-align: left;
	}

	.display-4 {
		font-size: 3.5em;
		text-align: left;
		margin-bottom: 2%;
	}

	.linha-horizontal {
		border-style: none;
		margin-bottom: 0;
	}

	.container .container {
		padding: 0 4% 0 4%;
	}

	h4.display-4 {
		font-size: 2.2em;
	}

	.logo {
		width: 70%;
		height: auto;
		padding-top: 10%;
	}

	.logo-con {
		width: 10%;
		padding: 0.5em;
	}

	.formacao {
		border-style: solid;
		border-width: 0 1px 0 1px;
		border-color: black;
	}

	div.div-carousel {
	max-width: 70%;
	}

	footer .row .display-4 {
		margin-top: 0;
		padding: 5%;
		text-align: center;
		font-size: 1.6em;
	}

	footer {
		margin-top: 4%;
	}

}

/* large desktops and up ----------- */
@media (min-width: 1400px) {

	div.div-carousel {
		max-width: 90%;
	}

}