body {
	font-family: "Candara", "Calibri", "Arial";
    padding: 0;
    margin: 0;
}

footer {
	padding: 20px 0 30px 0;
	text-align: center;
	font-size: 1em;
	color: #00008B;
	font-weight: bolder;
}

h1 {
	font-size: 2.4em;
	text-align: center;
    padding-top: 20px;
}

h3 {
	font-size: 1em;
    padding: 10px 0 0 10px;
    clear: both;
}

ul {
	font-size: 0.9em;
	list-style-type: square;
	list-style-position: inside;
	text-align: center;
    padding: 0 10px;
    clear: both;
    
}


.img {
	height: 30px;
	margin-top: 20px;
}

.img2 {
	height: 40px;
	margin-top: 15px;
}

.img3 {
	height: 25px;
	margin-top: 20px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin-top: -20px;
}

.flex-container-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
    padding: 35px;
}

.item-flex-icon {
	padding: 10px;
	font-size: 2.5em;
}

.item-flex-img {
	padding: 10px;
}

.item-flex-img img {
	width: 70px;
}

.icon-color1 {
	color: black;
}

.icon-color2 {
	color: #00008B;
}

.part1 {
	background-color: #D8D8D8;
	font-size: 1.2em;
}

.part2 {
	font-size: 1.2em;
}

.tp {
	margin-left: 5px;
	opacity: 0.4;
    
}

.grow:hover, .grow:active {
	-webkit-transform: scale(1.3);
  	-moz-transform: scale(1.3);
  	-o-transform: scale(1.3);
  	-ms-transform: scale(1.3);
  	transform: scale(1.3);
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 992px) {
	
	h1 {
        margin-left: 30%;
		text-align: left;
        font-size: 3em;
	}
    
    hr, .part1 {
        clear: both;
    }

	.flex-container {
		justify-content: flex-end;
        margin-right: 30%;
        font-size: 1.3em;
	}
    
    h3 {
        margin-left: 10%;
        margin-bottom: -10px;
    }
    
    .block-list {
		float: left;
        text-align: left;
        line-height: 95px;
        width: 65%;
        height: 60px;
        margin-left: 10%;
	}
    
	.block-img {
        margin-right: 10%;
		float: right;
        width: 10%;
        height: 60px;
        line-height: 90px;
	}  
    
    footer {
        clear: both;
    }
}

@media screen and (min-width: 1450px) {

    h1 {
		font-size: 4em;
	}
    .flex-container-img {
		font-size: 2em;
		
	}

}